<h1>
<span class='prefix'>Conf</span>
<%= @config.name %>
<% if @config.is_public %>
<span class='tag'><%= fa_icon 'flag', title: 'publicly listed' %></span>
<% end %>
<%= link_to 'Edit', edit_config_path(@config), class: 'button' if @config.user == current_user %>
</h1>
<div>
<%=
	if @config.description
		@config.description
	else
		'description empty'
	end
%>
</div>

<table class="virtical wide">
<tr>
	<th>Creator</th>
	<td><%= user(@config.user) %></td>
</tr>

<tr>
  <th>Body</th>
  <td>
<pre><%= JSON.pretty_generate(@config.body) %></pre>
  </td>
</tr>
</table>

<%= link_to 'List', configs_path, class: 'button' %>
