<h1>
	<div class='prefix'>User</div>
	<span class='heading'><%= @user.email %></span>
	<%= link_to 'edit', edit_user_registration_path, :class => :button %>
</h1>

<% if @user == current_user %>
	<table class='virtical'>
	<tr>
	<th>E-mail</th>
	<td><%= @user.email -%></td>
	</tr>
	<tr>
	<th>Last login</th>
	<td><%= @user.last_sign_in_at -%></td>
	</tr>
	</table>
<% end %>

<section>
	<h2>
		<span class="heading">Configurations</span>
		<%= link_to 'create', new_config_path, class: 'button' %>
	</h2>

	<div class='configs-list'>
	<%=
		grid(@configs_grid) do |g|

			g.column name: 'Name', attribute: 'name', class: 'column-config-name' do |config|
				[link_to(config.name, config) + " " + badge_is_public(config), {style: 'width:10em; text-align:center'}]
			end

			g.column name: 'Description', attribute: 'description' do |config|
				[strip_tags(config.description), {style: 'width:20em; max-width: 20em; white-space:nowrap; overflow:hidden; text-overflow:ellipsis'}]
			end

		end
	-%>

	</div>

</section>